.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --background-color: white;
  --text-color: black;
  --font-size: 14px;
  --font-weight: 400;
  --font-style: normal;
  --font-family: "Roboto", "Raleway", sans-serif;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  list-style: none;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
}

.container {
  width: 1200px;
  margin: auto;
}

.section {
  padding: 94px 0px;
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 9px;
  background-color: white;
}

.modal__button--close-style {
  width: 20px;
  height: 20px;
}

.modal__button--send button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: white;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal__button--send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__button--send:hover {
  -webkit-box-shadow: 2px 2px 10px var(--darkgrey);
          box-shadow: 2px 2px 10px var(--darkgrey);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--grey);
  -webkit-transform: scale(1.05) translateY(0.125rem);
          transform: scale(1.05) translateY(0.125rem);
  -webkit-transition: -webkit-transform 250ms var(--transition);
  transition: -webkit-transform 250ms var(--transition);
  transition: transform 250ms var(--transition);
  transition: transform 250ms var(--transition), -webkit-transform 250ms var(--transition);
}

.logo {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  padding: 24px 93px 25px 0px;
}

.header__logo--first {
  color: #2196f3;
}

.header__logo--second {
  color: black;
}

.logo-footer--first {
  color: #2196f3;
  line-height: 1.19;
}

.logo-footer--second {
  color: #ffffff;
  line-height: 1.19;
}

.our-team__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px 30px;
}

.our-team__social-icon--style:hover,
.our-team__social-icon--style:focus,
.our-team__social-icon--style:active {
  background-color: #2196f3;
  fill: white;
  -webkit-transition: -webkit-transform 250ms var(--transition);
  transition: -webkit-transform 250ms var(--transition);
  transition: transform 250ms var(--transition);
  transition: transform 250ms var(--transition), -webkit-transform 250ms var(--transition);
}

.our-team__social-icon--style {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
}

.footer-social-media--style {
  margin: 72px 0px;
}

.footer-social-media__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
}

.footer-social-media__icons--style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 45px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 5px;
  fill: rgba(255, 255, 255, 0.1);
}

.footer-social-media__icons--style:hover,
.footer-social-media__icons--style:focus,
.footer-social-media__icons--style:active {
  background-color: #2196f3;
  -webkit-transition: -webkit-transform 250ms var(--transition);
  transition: -webkit-transform 250ms var(--transition);
  transition: transform 250ms var(--transition);
  transition: transform 250ms var(--transition), -webkit-transform 250ms var(--transition);
}

.footer-social-media__title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  padding: 0px 0px 20px 0;
}/*# sourceMappingURL=main.css.map */