.logo {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  padding: 24px 93px 25px 0px;
}

.header__logo--first {
  color: #2196f3;
}
.header__logo--second {
  color: black;
}
.logo-footer--first {
  color: #2196f3;
  line-height: 1.19;
}
.logo-footer--second {
  color: #ffffff;
  line-height: 1.19;
}
